@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #ddeeff;
}

li, a, button, h1, h2, p {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 16px;
  color: #000000;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;

}

.title{
  text-align: center;
}

.description {
  text-align: center;
  display: flex;
  justify-content: center;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li, footer, a {
  transition: all 0.2s ease 0s;
}

.nav_links li, footer, a:hover {
  color: #FFFFFF;
}

button {
  padding: 9px 25px;
  background-color: rgba(255,221,238);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s ease 0s;
}

button:hover {
  background-color: rgba(238,255,221);
}

.container {
  padding: 90px 90px 90px 90px;
}
