@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #ddeeff;
}

li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 16px;
  color: #000000;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;

}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #FFFFFF;
}
